.container {
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
  width: calc(100% - 20px);
}

.innerContainer {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding-bottom: 30px;
}

.personCont {
  margin-top: 30px;
  margin-bottom: 30px;
}
.buttonDiv {
  justify-content: flex-end;
  display: flex;
}

.addButton {
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  background-color: #9c27b0;
  color: #fff;
  border: none;
  margin: 0.3125rem 1px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 1.42857143;
  padding: 12px 30px;
  margin-right: 244px;
}

.filterContainer {
  width: 80%;
  margin: auto;
  display: flex;
  color: #555555;
  font-size: 18px;
  line-height: 30px;
  /* justify-content: center; */
  justify-self: center;
  align-items: center;
  margin-bottom: 30px;
}

.formControl {
  width: 100%;
  margin: 0px !important;
  margin-left: 20px !important;
  div {
    max-height: 40px;
  }
  label {
    transform: translate(14px, 12px) scale(1);
    font-style: italic;
    font-size: 15px;
  }
}

.loadingContainer {
  width: 80% !important;
  margin: auto;
}

.statisticContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;

  svg {
    margin-right: 10px;
  }
  span {
    margin-left: 10px;
    font-weight: bold;
  }
}

.filterBtn,
.cancelBtn {
  background-color: #bc4758;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  color: #fff;
  border: none;
  outline: none;
  margin: 0.3125rem 1px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 1.42857143;
  padding: 8px 25px;
  margin-left: 16px;
}

.cancelBtn {
  background-color: #7047bc;
}
