.checkbox {
  margin-bottom: -11px;
  margin-left: 0px !important;
  margin-right: 4px !important;
  span:nth-child(2) {
    color: black !important;
  }
}

.label {
  font-size: 14px;
  display: block;
  margin-bottom: 3px;
}

.label:disabled {
  color: black;
}
