$color-primary: #34b6e4;
$color-hover: #1b9cca;
$color-active: #13779b;
$color-primary-foreground: #ffffff;
$color-link: #35beef;
$color-link-hover: #142b4c;
$color-foreground: #000000;
$color-secondary: #6c757d;
$color-layout-background: #e5e5e5;
$background-color-header: #1b2e4c;
$input-border-radius: 3px;
$input-background: $color-primary-foreground;
$input-background-active: #f5f5f5;
$search-input-placeholder-foreground: #9b9b9b;
$input-foreground: $color-foreground;
$input-border-color: #c7ced5;
$main-heading-text: #042031;
$color-text-light: $color-layout-background;
$color-success: #379a0b;
$color-success-hover: #379a0b;
$color-error: #ba000d;
$color-error-hover: #9a0007;
$color-info: #ffa726;
$color-submitted: #6c757d;
$color-inactive: #ced4da;
$color-sell: #15669c;

$color-active-hover: #13799d;

$footer-link-default-color: #0569a6;

$input-border-color-active: $color-primary;
