/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body,
html {
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html {
  min-height: 100%;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

textarea {
  padding: 0.5rem;
  font-size: 15px;
  width: -webkit-fill-available;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-style: italic;
}

input {
  padding: 0.5rem;
  font-size: 15px;
  height: 23px;
  width: -webkit-fill-available;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13.5px;
  color: #919191;
  font-style: italic;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
  font-size: 13px;
  font-style: italic;
}
