.PublicBackground {
    background-image: url("../../assets/homepage-picture2.jpg");
    min-height: 100%;
    min-width: 100%;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}