.Success {
  background-color: #379a0b !important;
}

.Error {
  background-color: #ba000d !important;
}

.Info {
  background-color: #ffa726 !important;
}

.Message {
  display: flex;
  align-items: center;
}

.Icon {
  margin-right: 8px;
}

.Root {
  div {
    z-index: 100000;
  }
}
