.textInput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13.5px;
  color: #919191;
}

.textInput::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13.5px;
  color: #919191;
}

.textInput:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13.5px;
  color: #919191;
}

.textInput:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13.5px;
  color: #919191;
}

.multiline {
  height: 50px !important;
}
