.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.elements {
  width: 80%;
  padding: 15px;
  border-radius: 3px;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(156, 39, 176, 0.4);
  margin-top: -25px;
  position: relative;
  left: -100px;
}

.title {
  font-size: 18px;
  color: white;
}

.subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.62);
  margin-bottom: 0px !important;
}
