.outsideContainer {
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
  width: calc(100% - 20px);
}

.title {
  color: #555555;
  font-size: 18px;
}

.container {
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
  width: calc(100% - 20px);
}

.innerContainer {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding-bottom: 30px;
}

.statisticContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;

  svg {
    margin-right: 10px;
  }
  span {
    margin-left: 10px;
    font-weight: bold;
  }
}

.divider {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
