.smallContainer {
  width: 80% !important;
  justify-content: center !important;
  display: flex !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 44px;

  input {
    height: 40px !important;
  }
}
.infoHolder {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 10px;
}

.divider {
  height: 40px !important;
  margin-top: 21px !important;
}
.noteHolder {
  color: black;
}

.checkBoxHolder {
  font-size: 16px !important;
}

.deleteBtn,
.editBtn {
  background-color: #bc4758;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
    0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  color: #fff;
  border: none;
  outline: none;
  margin: 0.3125rem 1px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 1.42857143;
  padding: 8px 25px;
  margin-left: 16px;
}

.editBtn {
  background-color: #7047bc;
}

.btnContainer {
  margin-top: 20px !important;
  margin-right: 89px !important;
}
